# Google Apps Script Web App Deployment URL for Database Sync & Storage
# Masukkan URL Deployment Google Apps Script (Web App dengan akses 'Anyone')
NEXT_PUBLIC_GAS_API_URL="https://script.google.com/macros/s/AKfycbyHhSy4j0a3W0doKZ5JB_579IqkC5Cqjux7nuemnlbWUnTnVCKWGqlpcLXCYhrB6DuXcQ/exec"
